structlog
pymupdf4llm
fastapi
python-multipart
pdfminer.six
pillow
pillow-heif
langchain
langchain-community
langchain-qdrant
langchain-ollama
unstructured[md,pdf]
unstructured-inference
matplotlib
fastembed
uvicorn
watchfiles 