<p>chat-page works!</p>
<div class="container">
    <div class="content">
        <div class="item item-center"><span>昨天 12:35</span></div>
        <div class="item item-center"><span>你已添加了凡繁烦，现在可以开始聊天了。</span></div>
        <div class="item item-left"><div class="avatar"><img src="./assets/profiles/2.jpg" /></div><div class="bubble bubble-left">您好,我在武汉，你可以直接送过来吗，我有时间的话，可以自己过去拿<br/>！！！<br/>123</div></div>
        
        <div class="item item-right"><div class="bubble bubble-right">hello<br/>你好呀</div><div class="avatar"><img src="./assets/profiles/1.jpg" /></div></div>
        <div class="item item-center"><span>昨天 13:15</span></div>
        <div class="item item-right"><div class="bubble bubble-right">刚刚不在，不好意思</div><div class="avatar"><img src="./assets/profiles/1.jpg" /></div></div>
        <div class="item item-left"><div class="avatar"><img src="./assets/profiles/2.jpg" /></div><div class="bubble bubble-left">没事<br/>你继续！</div></div>
        <div class="item item-left"><div class="avatar"><img src="./assets/profiles/2.jpg" /></div><div class="bubble bubble-left">看到了<br/>在下面</div></div>
        <div class="item item-left"><div class="avatar"><img src="./assets/profiles/2.jpg" /></div><div class="bubble bubble-left">你发一个<br/>刚刚网卡了</div></div>
        <div class="item item-right"><div class="bubble bubble-right">可以<br/>一会儿再发给你</div><div class="avatar"><img src="./assets/profiles/1.jpg" /></div></div>
    </div>
    <div class="input-area">
        <textarea name="text" id="textarea"></textarea>
        <div class="button-area">
            <button id="send-btn" (click)="send()">发 送</button>
        </div>
    </div>
</div>  
