<div class="flex h-full w-full flex-row items-center justify-center overflow-x-hidden">
  <!--left panel-->
  <div #leftPanel [style.width.%]="leftWidth" class="h-full">
    @if (pdfSrc && !uploading) {
      <!-- PDF预览 -->
      <div class="flex h-full flex-col items-center justify-center">
        <div class="flex h-[5%] w-[95%] items-center justify-center space-x-2">
          <div
            class="w-fit cursor-pointer rounded-md bg-blue-500 px-4 py-1 text-sm font-medium text-white"
            (click)="back()"
          >
            返回
          </div>
        </div>
        <pdf-viewer
          [src]="pdfSrc"
          [rotation]="0"
          [original-size]="false"
          [show-all]="true"
          [fit-to-page]="false"
          [zoom]="1"
          [zoom-scale]="'page-width'"
          [stick-to-page]="false"
          [render-text]="true"
          [external-link-target]="'blank'"
          [autoresize]="true"
          [show-borders]="false"
          class="h-[95%] w-[95%] rounded-t-lg border"
          (contextmenu)="onRightClick($event)"
        ></pdf-viewer>
      </div>
    } @else {
      <div class="flex flex-col self-start *:mx-auto *:my-5 *:w-4/5">
        <div class="flex-col">
          <div class="mb-3 flex items-center justify-between space-x-2">
            <div class="text-lg font-extrabold">提示词</div>
            <div class="flex items-center space-x-2">
              <button
                class="transform rounded-lg bg-blue-100 px-3 py-2 text-sm text-blue-500 transition duration-100 ease-in-out hover:scale-105 hover:bg-blue-200"
                onclick="promptModal.showModal()"
                (click)="loadPrompts()"
              >
                选择提示词
              </button>
              <button
                class="transform rounded-lg bg-green-100 px-3 py-2 text-sm text-green-500 transition duration-100 ease-in-out hover:scale-105 hover:bg-green-200"
                onclick="newPromptModal.showModal()"
              >
                新建提示词
              </button>
              <button
                class="transform rounded-lg bg-red-100 px-3 py-2 text-sm text-red-500 transition duration-100 ease-in-out hover:scale-105 hover:bg-red-200"
                onclick="deletePromptModal.showModal()"
              >
                删除提示词
              </button>
            </div>
          </div>
          <textarea
            rows="10"
            class="textarea textarea-bordered block w-full resize-none"
            placeholder="在这里写你的提示词..."
            [(ngModel)]="selectedPrompt"
          ></textarea>
        </div>

        <dialog id="promptModal" class="modal">
          <div class="modal-box">
            <h3 class="mb-5 text-lg font-bold">选择提示词</h3>
            @for (prompt of prompts; track prompt) {
              <div
                class="mb-2 flex cursor-pointer items-center justify-between rounded-lg border p-3"
                [class.bg-blue-50]="selectedPrompt === prompt.content"
                (click)="selectPrompt(prompt.content)"
                [class.hover:bg-blue-50]="selectedPrompt !== prompt.content"
              >
                <span class="text-sm">{{ prompt.name }}</span>
              </div>
            }
            <div class="modal-action">
              <form method="dialog">
                <button class="btn">关闭</button>
              </form>
            </div>
          </div>
        </dialog>

        <dialog id="newPromptModal" class="modal">
          <div class="modal-box">
            <h3 class="mb-5 text-lg font-bold">新建提示词</h3>
            <input
              type="text"
              placeholder="提示词名称"
              class="input input-bordered mb-3 w-full"
              [(ngModel)]="newPromptName"
            />
            <textarea
              rows="5"
              class="textarea textarea-bordered mb-3 w-full resize-none"
              placeholder="提示词内容"
              [(ngModel)]="newPromptContent"
            ></textarea>
            <div class="modal-action">
              <button
                class="rounded-md border border-blue-600 bg-blue-500 px-4 py-2 font-semibold text-white shadow-sm transition-colors duration-300 hover:bg-blue-600"
                (click)="addNewPrompt()"
              >
                保存
              </button>
              <button
                class="rounded-md border border-gray-300 bg-white px-4 py-2 font-semibold text-gray-800 shadow-sm transition-colors duration-300 hover:bg-gray-100"
                onclick="newPromptModal.close()"
              >
                取消
              </button>
            </div>
          </div>
        </dialog>

        <dialog id="deletePromptModal" class="modal">
          <div class="modal-box">
            <h3 class="mb-5 text-lg font-bold">删除提示词</h3>
            @for (prompt of prompts; track prompt) {
              <div class="mb-2 flex items-center justify-between rounded-lg border p-3">
                <span class="text-sm">{{ prompt.name }}</span>
                <lucide-icon
                  name="trash-2"
                  class="cursor-pointer text-red-500"
                  [size]="20"
                  (click)="deletePrompt(prompt.name)"
                ></lucide-icon>
              </div>
            }
            <div class="modal-action">
              <form method="dialog">
                <button class="btn">关闭</button>
              </form>
            </div>
          </div>
        </dialog>

        <div class="flex h-fit items-center justify-between rounded-xl bg-base-200 px-3 py-2">
          <span class="font-extrabold">变量</span>
          <button class="whitespace-normal rounded-lg px-2 py-1 text-sm hover:bg-neutral">+ 添加</button>
        </div>
        <div class="flex h-fit flex-col items-center justify-between rounded-xl bg-base-200 px-3 py-2">
          <div class="flex w-full flex-row justify-between">
            <div class="font-extrabold">知识库</div>
            <button
              class="whitespace-normal rounded-lg px-2 py-1 text-sm hover:bg-neutral"
              onclick="knowledge.showModal()"
            >
              + 添加
            </button>
          </div>
          @if (selectedKnowledgeName) {
            <div class="my-2 flex w-full flex-col space-y-2">
              <div class="flex flex-row items-center justify-between rounded-lg border bg-white px-5 py-2 shadow-sm">
                <span>{{ selectedKnowledgeName }}</span>
                <lucide-icon
                  name="trash-2"
                  class="cursor-pointer text-blue-500"
                  [size]="20"
                  (click)="delete()"
                ></lucide-icon>
              </div>
            </div>
          }
          <dialog id="knowledge" class="modal">
            <div class="modal-box">
              <h3 class="mb-5 text-lg font-bold">选择引用知识库</h3>
              @for (item of knowledges; track item) {
                <div
                  class="mb-2 flex cursor-pointer items-center justify-between rounded-lg border p-3"
                  [class.bg-blue-50]="selectedKnowledgeName === item"
                  (click)="selectKnowledge(item)"
                  [class.hover:bg-blue-50]="selectedKnowledgeName !== item"
                >
                  <div class="flex items-center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      [class.text-blue-500]="selectedKnowledgeName === item"
                      [class.text-gray-400]="selectedKnowledgeName !== item"
                      class="mr-2"
                    >
                      <path
                        d="M4 20h16a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.93a2 2 0 0 1-1.66-.9l-.82-1.2A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13c0 1.1.9 2 2 2Z"
                      ></path>
                    </svg>
                    <span class="text-sm">{{ item }}</span>
                  </div>
                </div>
              }
              <div class="modal-action">
                <form method="dialog">
                  <div class="mt-4 flex justify-end space-x-2">
                    <button class="rounded bg-blue-500 px-4 py-2 text-sm text-white hover:bg-blue-600">Close</button>
                  </div>
                </form>
              </div>
            </div>
          </dialog>
        </div>
        <div class="flex h-fit flex-col rounded-xl bg-base-200 px-3 pb-4 pt-2">
          <div class="mb-3 block font-extrabold">工具</div>
          <div class="grid grid-cols-2 gap-4">
            <div class="flex flex-row items-center justify-between rounded-md bg-white px-2 py-2 shadow-sm">
              <div class="flex flex-row items-center justify-center space-x-1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="inline size-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
                  />
                </svg>
                <span class="text-sm">联网搜索</span>
              </div>
              <input type="checkbox" class="toggle" />
            </div>
            <div class="flex flex-row items-center justify-between rounded-md bg-white px-2 py-2 shadow-sm">
              <div class="flex flex-row items-center justify-center space-x-1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="inline size-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5"
                  />
                </svg>

                <span class="text-sm">代码解释器</span>
              </div>
              <input type="checkbox" class="toggle" />
            </div>
          </div>
        </div>
        <div class="flex h-fit flex-col rounded-xl bg-base-200 px-3 pb-4 pt-2">
          <div class="mb-2 block font-extrabold">ChatPDF</div>
          <div class="mb-2 block text-[12px] text-gray-500">与PDF对话</div>
          <div class="relative">
            <input
              type="file"
              (change)="selectPdf($event)"
              accept="application/pdf"
              class="absolute inset-0 h-full w-full cursor-pointer opacity-0"
              [class.pointer-events-none]="uploading"
            />
            <div
              [class]="
                uploading
                  ? 'bg-white hover:bg-gray-50'
                  : 'cursor-wait bg-gray-100' +
                    ' flex items-center justify-center rounded-md border border-gray-300 px-4 py-2 text-sm transition-colors duration-300'
              "
            >
              @if (uploading) {
                <div class="flex items-center justify-center space-x-2 py-2">
                  <span class="loading loading-spinner loading-sm"></span>
                  <span>解析中...</span>
                </div>
              } @else {
                点击选择PDF文件
              }
            </div>
          </div>
        </div>
      </div>
    }
  </div>
  <div #translationPopup class="translation-popup" [style.display]="showPopup ? 'block' : 'none'">
    <div class="popup-content">
      <div class="mb-1 text-lg font-bold">翻译结果:</div>
      <p class="mb-3">{{ translatedText }}</p>
      <button (click)="closePopup()" class="close-btn">关闭</button>
    </div>
  </div>
  <!-- Resizer -->
  <div class="h-full w-1 cursor-col-resize bg-gray-300 hover:bg-gray-400" (mousedown)="onMouseDown($event)"></div>

  <!--right panel-->
  <div class="h-full" #rightPanel [style.width.%]="100 - leftWidth">
    <chat [mode]="studio_mode" [pdfname]="pdfname"></chat>
  </div>
</div>
